<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm_demo.mappers.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.ssm_demo.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" property="birthday" />
    </resultMap>
    <!--<collection  id="users" ofType="com.example.ssm_demo.entity.User" property="">-->
        <!--<result column="id" jdbcType="BIGINT" property="id" />-->
        <!--<result column="name" jdbcType="VARCHAR" property="name" />-->
        <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
        <!--<result column="sex" jdbcType="INTEGER" property="sex" />-->
        <!--<result column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" property="birthday" />-->
    <!--</resultMap>-->

    <select id="getUserByID" parameterType="long" resultType="user">
        select * from `user` where id = #{asdf}
    </select>
    <insert
            id="saveUser" parameterType="user"
            useGeneratedKeys="true">
        INSERT INTO `ssm_demo`.`user` ( `name`, `password`, `sex`, `brithday`)  values (#{name},#{password},#{sex},#{brithday})
    </insert>
    <select
            id="getUserList" resultMap="BaseResultMap">
        select * from user
    </select>
    <delete id="deleteUserById" >
        delete  from  user where  id=#{id}
    </delete>
    <!--<select id="findUserByID" parameterType="int" resultMap="com.test.domain.User">
        select * from user where id=#{id}
    </select>-->
    <!--<select id="findUserByUserName" parameterType="string" resultMap="com.test.domain.User">
        select * from user where username like '%{username}'
    </select>
    <update id="updateUserByID" parameterType="com.test.domain.User">
        update user set username=#{username},
        password=#{password},sex=#{sex},
        address=#{address} where id=#{id}
    </update>
    &lt;!&ndash;保存&ndash;&gt;
    <insert id="insertUser" parameterType="com.test.domain.User">
        insert into user values (#{id},#{username},#{birthday},#{sex},#{address})
    </insert>-->
</mapper>